@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: darkslateblue;
  height: 4rem;
  color: white;
}

.nav-link {
  color: black;
}

.card {
  -webkit-box-shadow: 10px 18px 24px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 18px 24px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 18px 24px -2px rgba(0, 0, 0, 0.75);
  border: 0;
}

.btn-success {
  color: #ffffff;
  background-color: darkslateblue;
  border-color: darkslateblue;
}

.btn-success:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 175, 180);
  border-color: rgb(13, 175, 180);
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: rgb(13, 175, 180);
  border-color: rgb(13, 175, 180);
}

.btn-success.focus,
.btn-success:focus {
  color: #fff;
  background-color: rgb(13, 175, 180);
  border-color: rgb(13, 175, 180);
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
